<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meher.clocky"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.meher.clocky.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.meher.clocky.TimePickerFragment"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.meher.clocky.AlarmAfter"
            android:label="@string/title_activity_alarm_after"
            android:parentActivityName="com.meher.clocky.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.meher.clocky.MainActivity" />
        </activity>
        <activity
            android:name="com.meher.clocky.AlarmAt"
            android:label="@string/title_activity_alarm_at"
            android:parentActivityName="com.meher.clocky.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.meher.clocky.MainActivity" />
        </activity>
        <activity
            android:name="com.meher.clocky.Meeting"
            android:label="@string/title_activity_meeting"
            android:parentActivityName="com.meher.clocky.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.meher.clocky.MainActivity" />
        </activity>
        <activity
            android:name="com.meher.clocky.TimePicker"
            android:label="@string/title_activity_time_picker" >
        </activity>
        <activity
            android:name="com.meher.clocky.PickTime"
            android:label="@string/title_activity_pick_time" >
        </activity>
        <activity
            android:name="com.meher.clocky.Repeat"
            android:label="@string/title_activity_repeat" >
        </activity>
        <activity
            android:name="com.meher.clocky.ToneSelect"
            android:label="@string/title_activity_tone_select" >
        </activity>

        <receiver android:name="com.meher.clocky.AlarmReceiver" >
        </receiver>

        <activity
            android:name="com.meher.clocky.AlarmControl"
            android:label="@string/title_activity_alarm_control" >
        </activity>
    </application>

</manifest>
